<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>sender</title>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.2/socket.io.js"
      integrity="sha512-VJ6+sp2E5rFQk05caiXXzQd1wBABpjEj1r5kMiLmGAAgwPItw1YpqsCCBtq8Yr1x6C49/mTpRdXtq8O2RcZhlQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
  </head>
  <body style="background-color: rgb(24, 245, 197)">
    <p
      id="heading"
      style="color: rgb(0, 0, 0); font-size: 20px; text-align: center"
    >
      Socket testing
    </p>
    <span>your id is:</span>
    <span id="id"></span>

    <p style="color: red" id="error"></p>
    <p style="color: red" id="errorcode"></p>

    <script>
      const token =
        "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJfaWQiOiI2NjU1ZDhmYmEwYzc4YzAzY2ZlZjJjZjMiLCJ1c2VybmFtZSI6ImFua2l0c2luZ2giLCJlbWFpbCI6InlvdXJtdXNpY2FsbW9tZW50c0BnbWFpbC5jb20iLCJmdWxsTmFtZSI6IkFua2l0IFNpbmdoIiwiaWF0IjoxNzI2NDA2NDE3LCJleHAiOjE3MjY0OTI4MTd9.Mzi7Y-VryJgDqzq6jK4Lyc6TovOfP_LM5EEvgJdI280";

      let socket = io(
        "https://share-sphere-backend-1pto8z7os-itssinghankits-projects.vercel.app/",
        {
          auth: {
            token: token,
          },
        }
      );

      socket.on("connected", (data) => {
        document.getElementById("id").innerText = data;
        console.log("we are connected");
      });

      socket.on("socket-error", (data) => {
        console.log(data);
        document.getElementById("error").innerText = data.errors.message;
        document.getElementById("errorcode").innerText = data.statusCode;
      });

      socket.on("message-received", (data) => {
        console.log("message received");
        console.log(data);
      });

      socket.on("new-chat", (data) => {
        console.log("new chat created");
        console.log(data);
      });

      socket.on("disconnect", () => {
        console.log("we are disconnected");
      });
    </script>
  </body>
</html>
