<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>sender</title>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.2/socket.io.js"
      integrity="sha512-VJ6+sp2E5rFQk05caiXXzQd1wBABpjEj1r5kMiLmGAAgwPItw1YpqsCCBtq8Yr1x6C49/mTpRdXtq8O2RcZhlQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
  </head>
  <body style="background-color: rgb(24, 245, 197)">
    <p
      id="heading"
      style="color: rgb(0, 0, 0); font-size: 20px; text-align: center"
    >
      Socket testing
    </p>
    <span>your id is:</span>
    <span id="id"></span>

    <p style="color: red" id="error"></p>
    <p style="color: red" id="errorcode"></p>

     <script>
    const socket = new WebSocket("ws://share-sphere-backend.vercel.app/");
  
    socket.addEventListener("open", (event) => {
      console.log("WebSocket is open now.");
    });
  
    socket.addEventListener("error", (error) => {
      console.error("WebSocket error observed:", error);
      document.getElementById("error").innerText = "WebSocket error: " + error.message;
    });
  
    socket.addEventListener("close", (event) => {
      console.log("WebSocket is closed now.");
      document.getElementById("error").innerText = "WebSocket connection closed.";
    });
  
    socket.addEventListener("message", (event) => {
      console.log("Message from server ", event.data);
    });
  
    socket.addEventListener("connected", (data) => {
      document.getElementById("id").innerText = data;
      console.log("we are connected");
    });
  
    socket.addEventListener("socket-error", (data) => {
      console.log(data);
      document.getElementById("error").innerText = data.errors.message;
      document.getElementById("errorcode").innerText = data.statusCode;
    });
  
    socket.addEventListener("message-received", (data) => {
      console.log("message received");
      console.log(data);
    });
  
    socket.addEventListener("new-chat", (data) => {
      console.log("new chat created");
      console.log(data);
    });
  
    socket.addEventListener("disconnect", () => {
      console.log("WebSocket disconnected");
    });
  </script>
  </body>
</html>
